div#txt{border:20px;
 background-color:#696969;
 color:Red;
 margin-bottom:5px;
 text-align:center;
 font-size: 100px}

 div#look{border:10px;
 background-color:#ADFF2F;
 font-color:black;
 margin-bottom:5px;
 text-align:center;
 font-size: 20px
 
}